<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      
      <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
      <!-- ///  page title  /// -->
      <title>Encino Spring Carnival</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- /// font icons  /// -->
      <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="assets/linecons/css/linecons.css">
      <!-- ///  google fonts  /// -->
      <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <!-- ///  animate.css  /// -->
      <!--<link rel="stylesheet" type="text/css" href="assets/plugins/animate/animate.css">-->
      <!-- ///  bootstrap-select.css /// -->
      <link rel="stylesheet" type="text/css" href="assets/plugins/select/bootstrap-select.css">
      <!-- ///  bootstrap.css  /// -->
      <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">      
      <!-- ///  main CSS file  /// -->        
      <link rel="stylesheet" type="text/css" href="assets/main.css">    
      <!-- ///  timecircles css file /// -->
      <!--<link rel="stylesheet" type="text/css" href="assets/plugins/select/TimeCircles.css" >  -->  
  </head>
  <body class="remove-scroll">
    <!-- ///  preloader  /// -->
    <div class="preloader">
      <img src="assets/loader.GIF" class="loader" alt="">
    </div>        
    <!-- ///  begin header  /// -->
    <header class="main-header">
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" font="Shadowed Serif"><!--<img src="assets/ferriswheelx60.jpg">-->
              </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="nav">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#about">Tickets</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#multimedia">Photos</a></li>
              <li><a href="#vendors">Vendors</a></li>
              <li><a href="#sponsors">Sponsors</a></li>
              <li><a href="#faqSection">FAQ</a></li>
              <li><a href="#ourLocation">Location</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <!-- ///  end header  /// -->
    
    <!-- ///  begin content  /// -->

    <!-- ///  begin promo  /// -->
    <div class="promo" id="home" style="background-image:url(assets/bg/bg.jpg);">
      <!-- ///  semitransparent layer  /// -->
      <div class="color-correction" ></div>
      <!-- ///  begin entry  /// -->         
      <div class="container">
        <div class="row">
          <!-- ///  begin text section  /// -->
          <div class="col-md-6 wow fadeInUp" data-wow-duration="2s">
            <div class="promo-text">
              <img src="assets/ferriswheelx225.png">
              <p> </p>
              <p class="event-name">Encino Spring Carnival</p>
              <p class="sub-name"><strong>Hosted by the Catholic Community of St. Cyril's</strong></p>
              <p class="date-text">May 13-15, 2016</p>                    
              
            
              <!--<ul class="list-inline join-us">
                <li><a href="https://twitter.com/EncinoCarnival" class="btn btn-empty-inverse btn-lg"><i class="fa fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/encinospringcarnival" class="btn btn-empty-inverse btn-lg"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/encinospringcarnival" class="btn btn-empty-inverse btn-lg"><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>


          <!-- ///  end text section  /// -->
          <!-- ///  begin registration form  /// -->
          <div class="col-md-4 col-md-offset-2 wow fadeInDown" data-wow-duration="2s">
            <div class="register">
              <div><h3>Enter your email to get more information as it becomes available!</h3></div>
              <%= render 'users/new', :user => @user %>
              </br><p>*your email is only for the purposes of carnival communication and will not be sold or traded</p>
              <div class="ok">
                <p class="icon"><i class="fa-check-circle-o fa fa-5x success-color"></i></p>
                <h3>Thanks!</h3>
                <p class="lead">We will notify you when more information becomes available!</p>
                <button type="button" class="btn btn-warning" id="back">Back</button>
              </div>
            </div>
            	
          </div>
          <!-- ///  end registration form  /// -->
        </div>            
      </div>
      <!-- ///  end entry  /// -->
    </div>       
    <!-- ///  end promo  /// --> 

    
    <!-- ///  begin countdown  /// -->
    <div class="counter" id="about">
      <div class="container">
        <div class="row">
         
          <div class="col-md-8">
           <img src="assets/vendors/carnival.png">
           <h1>About the Carnival</h1>
           <p>The Encino Spring Carnival is an annual carnival with rides, games, entertainment, food and fun for all!  <a href="http://www.amusements.com/" target="_blank">The Christiansen Amusements Company</a> provides rides for all ages including a Ferris Wheel, Tilt-O-Whirl and more.  The Carnival has FREE ADMISSION and is open to all members of the community.  All proceeds from the Carnival go to support St. Cyril's School and Parish.</p>
           <h3>Carnival Hours & Location</h3>
            <p>Friday, May 13 5pm-11pm</p>
            <p>Saturday, May 14 11am-11pm</p>
            <p>Sunday, May 15 11am-8pm<p>
            <p>15520 Ventura Blvd, Encino, CA 91436</p>
           <!--<img src="assets/vendors/starstcyril.png">-->
           <h1>About St. Cyril's</h1>
           <p><a href="http://www.st-cyril.org/" target="_blank">Saint Cyril Church</a> opened in Encino in 1949, and <a href="http://www.stcyril.net" target="_blank">Saint Cyril School</a> in 1950, and both have been a fixture in the San Fernando Valley for over 65 years.  Positioned on Ventura Boulevard near the border of Sherman Oaks and Encino, Saint Cyril Church serves over 900 registered families and the school enrolls more than 260 students in grades pre-k through 8th.  Saint Cyril School offers a variety of academic and athletic extracurricular activities and the Saint Cyril community is dedicated to Christian service and is proud to support Angel on My Shoulder.  This unique service program provides students with an opportunity to help less fortunate members of our society by raising money and delivering blankets, clothing and basic necessities to the less fortunate on Skid Row.</p>
          </div>                     
         <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="1.8s">
            <h1>Tickets & Swag</h1>
            <a href='https://mkt.com/encinospringcarnival' class='sq-embed-menu' data-menu-item-images='small' data-menu-accent-color='ff412e' data-menu-template='row' data-menu-border='show' data-menu-item-descriptions='hide' >Order Online</a>
            <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
            <h1>Follow Us!</h1>
            <ul class="list-inline join-us">
                <li><a href="https://twitter.com/EncinoCarnival" class="btn btn-empty-inverse btn-lg"><i class="fa fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/encinospringcarnival" class="btn btn-empty-inverse btn-lg"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/encinospringcarnival" class="btn btn-empty-inverse btn-lg"><i class="fa fa-instagram"></i></a></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    <!-- ///  end countdown  /// -->
    
    <!-- ///  begin schedule  /// -->
    <div class="schedule" id="schedule">
      <div class="container"> 
        <div class="section-heading">
          <h1>Carnival Stage Schedule</h1>
          <p class="lead">Throughout the weekend we will have exciting performances from local talent!</p>
          <h3>We are working diligently to find the best acts to entertain your family for the whole weekend.  If you know someone that would like to perform during the carnival, please email <a href="mailto:info@encinospringcarnival.com?Subject=Entertainment" target="_top">info@encinospringcarnival.com</a>.  MORE DETAILS SOON!</h3>
        </div>
        <!--<div class="row">              
          <div class="col-md-12 wow fadeInDown">
            
            <ul class="nav nav-tabs nav-justified">
              <li class="active"><a href="#first-day" data-toggle="tab">May, 13</a></li>
              <li><a href="#second-day" data-toggle="tab">May, 14</a></li>
              <li><a href="#third-day" data-toggle="tab">May, 15</a></li>              
            </ul>
           
            <div class="tab-content">
              <div class="tab-pane active" id="first-day">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          5 pm - 6 pm Magic Show
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Magic Show</h4>
                        <p>Come out and see...</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          6 pm - 7 pm DJ
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>DJ</h4>
                        <p>Come out and see...</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          7 pm - 9 pm Disco Kings
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Disco Kings</h4>
                        <p>Something about the disco kings.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                          9 pm - 11 pm DJ
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>DJ</h4>
                        <p>Come out and see...</p>
                      </div>
                    </div>
                  </div>
                </div>                          
              </div>
              <div class="tab-pane" id="second-day">
                <div class="panel-group" id="accordion2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                          11:00 am - 12:00 am
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Dolor Ipsum Solor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga delectus nam quia omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident similique quis natus fugiat id.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
                          12:00 am - 14:30 pm
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Dolor Ipsum Solor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga delectus nam quia omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident similique quis natus fugiat id.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                          14:30 pm - 18:00 pm
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Dolor Ipsum Solor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga delectus nam quia omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident similique quis natus fugiat id.</p>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="tab-pane" id="third-day">
                <div class="panel-group" id="accordion3">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
                          11:00 am - 12:00 am
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Dolor Ipsum Solor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga delectus nam quia omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident similique quis natus fugiat id.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
                          12:00 am - 14:30 pm
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Dolor Ipsum Solor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga delectus nam quia omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident similique quis natus fugiat id.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">
                          14:30 pm - 18:00 pm
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>Dolor Ipsum Solor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga delectus nam quia omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident similique quis natus fugiat id.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                 
            </div>                
          </div>
        </div>-->
      </div>
    </div>
    

    <!-- ///  begin video  /// 
    <div class="multimedia" id="multimedia">
      <div class="container">            
        <div class="row mt20">
          <div class="col-md-6 wow fadeInLeft">
            <div ><img width="500px" height="350px" src="assets/img/bg/promo.jpg">
              
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight">
            <h1>Video</h1>
            <p class="lead">lorem ipsum</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea, illum, consequatur, sunt rem unde odio debitis veritatis porro dolores ipsam repudiandae officia praesentium vitae cupiditate perferendis possimus laboriosam ducimus.</p>
          </div>
        </div>
      </div>
    </div>
     ///  end video  /// -->

    <!--///  begin photos  /// -->
    <div class="photo" id="multimedia">
      <div class="container">            
        <div class="row mt20">
          <div class="col-md-6 wow fadeInLeft">
            <h1>Photos</h1>
            <p class="lead">Photos from our 2015 Carnival</p>
            <hr>
            <p>Our 2015 Carnival was so much fun!  A big thank you to all of our Sponsors and Volunteers that made it possible.  We are going to knock it out of the park for 2016!</p>
          </div>
          <div class="col-md-6 wow fadeInRight">
            <div class="photo-wrapper">
              <div id="photoSlider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">                      
                  <div class="item active">
                    <img src="assets/carousel/slide.jpg" alt="">
                  </div>  
                  <div class="item">
                    <img src="assets/carousel/slide2.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="assets/carousel/slide3.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="assets/carousel/slide4.jpg" alt="">
                  </div>                    
                  <div class="item">
                    <img src="assets/carousel/slide5.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="assets/carousel/slide6.jpg" alt="">
                  </div>
                </div>
              </div>   
            </div>
            <!--<div class="text-center">
              <div class="btn-group">
                <a href="#photoSlider" data-slide="prev" class="btn btn-success">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#photoSlider" data-slide="next" class="btn btn-success">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>                  
            </div> -->                                            
          </div>              
        </div>
      </div>
    </div>
    <!-- ///  end photos  /// -->

    <!-- ///  begin features  /// -->
    <div class="theses" id="vendors">
       <div class="container">
        <div class="section-heading">
          <h1>Our Food Vendors</h1>
          <p class="lead">We will be having yummy food to eat throughout the weekend! Here are a few...</p>
        </div>
        <div class="row text-center">

          <div class="col-md-3 wow bounceIn" data-wow-delay=".4s">
            
              <img src="assets/vendors/hdos-logo.png"></img>
            
            <h3>Hot Dog on A Stick</h3>
            <hr>
            <p>Appearing on May 13</p>
          </div>
          <div class="col-md-3 wow bounceIn" data-wow-delay=".6s">
            <img src="assets/vendors/konaice.png"></img>
            <h3>Kona Ice</h3>
            <hr>
            <p>Appearing on May 14</p>
          </div>
          <div class="col-md-3 wow bounceIn" data-wow-delay=".8s">
            <img src="assets/vendors/grilledcheese.png"></img>
            <h3>Grilled Cheese Truck</h3>
            <hr>
            <p>Appearing on May 15</p>
          </div>
          <div class="col-md-3 wow bounceIn" data-wow-delay="1s">
            <img src="assets/vendors/blizz.png"></img>
            <h3>Blizz Frozen Yogurt</h3>
            <hr>
            <p>Appearing on May 15</p>
          </div>              
        </div>
      </div>
    </div>
    <!-- ///  end features  /// -->
    
    
    <!-- ///  begin speakers  /// -->
    <div class="speakers" id="sponsors">
      <div class="container">
        <div class="section-heading">
          <h1>Sponsors</h1>
          <p class="lead">Our generous sponsors have made this Carnival possible.</p>
        </div> 
        <div class="row">
          <div class="col-md-4 speaker wow fadeInDown" data-wow-delay="1s">
            <div class="speaker-img">
              <img src="assets/speakers/1.jpg" alt="">
              <a href="" class="speaker-contacts left-top"><i class="fa fa-google-plus fa-2x"></i></a> 
              <a href="" class="speaker-contacts left-bottom"><i class="fa fa-facebook fa-2x"></i></a>
              <a href="" class="speaker-contacts right-bottom"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="" class="speaker-contacts right-top"><i class="fa fa-envelope fa-2x"></i></a>
            </div>
            <div class="speaker-desc">
              <p>Your Business Here</p>
              <span>Contact <a href="mailto:kim@encinospringcarnival.com?Subject=Sponsorship" target="_top">kim@encinospringcarnival.com</a> to learn about all of our sponsorship opportunities!</span>
            </div>
          </div>
          <div class="col-md-4 speaker wow fadeInDown" data-wow-delay="1.1s">
            <div class="speaker-img">
              <img src="assets/speakers/2.jpg" alt="">
              <a href="" class="speaker-contacts left-top"><i class="fa fa-google-plus fa-2x"></i></a> 
              <a href="" class="speaker-contacts left-bottom"><i class="fa fa-facebook fa-2x"></i></a>
              <a href="" class="speaker-contacts right-bottom"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="" class="speaker-contacts right-top"><i class="fa fa-envelope fa-2x"></i></a>
            </div>
            <div class="speaker-desc">
              <p>Your Business Here</p>
              <span>Contact <a href="mailto:kim@encinospringcarnival.com?Subject=Sponsorship" target="_top">kim@encinospringcarnival.com</a> to learn about all of our sponsorship opportunities!</span>
            </div>
          </div>
          <div class="col-md-4 speaker wow fadeInDown" data-wow-delay="1.2s">
            <div class="speaker-img">
              <img src="assets/speakers/3.jpg" alt="">
              <a href="" class="speaker-contacts left-top"><i class="fa fa-google-plus fa-2x"></i></a> 
              <a href="" class="speaker-contacts left-bottom"><i class="fa fa-facebook fa-2x"></i></a>
              <a href="" class="speaker-contacts right-bottom"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="" class="speaker-contacts right-top"><i class="fa fa-envelope fa-2x"></i></a>
            </div>
            <div class="speaker-desc">
              <p>Your Business Here</p>
              <span>Contact <a href="mailto:kim@encinospringcarnival.com?Subject=Sponsorship" target="_top">kim@encinospringcarnival.com</a> to learn about all of our sponsorship opportunities!</span>
            </div>
          </div>
        </div> 
            
      </div>
    </div>
    <!--///  end speakers  /// -->


    <!-- ///  begin price  /// -->
    <div class="price">
      <div class="container">
        <div class="section-heading">
          <h1>Sponsorships</h1>
          <p class="lead">Are you or your business interested in sponsoring the carnival?  See our sponsorship packages below and contact <a href="mailto:kim@encinospringcarnival.com?Subject=Sponsorship" target="_top">kim@encinospringcarnival.com</a> for more information.</p>
          
        </div>
        <div class="row">
          <div class="col-sm-3 info-bg wow fadeInDown" data-wow-delay=".4s">
            <header class="price-header">
              <h4>Platinum</h4>
              <p>$5,000</p>
            </header>
            <ul class="list-group">
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  “Presented by” (or similar) on carnival banners hung on Ventura gate (March 14-June 17) and at event</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Custom 8 foot long banner prominently displayed on carnival stage</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Company banner on Ventura Gate including “proud sponsor of SCJ parish and school” (March 14-June 17)</p>
                
              </li>    
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Table at carnival to distribute information and speak with attendees about your business</p>
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on 400 posters distributed to local Encino and Sherman Oaks businesses</p>
                
              </li>
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival website, carnival social media and on all parish/school carnival communication</p>
                
              </li>
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival t-shirt worn by students and parents</p>
               
              </li>
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Regular mention from carnival stage by emcee/DJ</p>
                
              </li>
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Two 3-day unlimited ride wristbands</p>
                
              </li>                              
            </ul>                                
          </div>
          <div class="col-sm-3 success-bg wow fadeInUp" data-wow-delay=".8s">
            <header class="price-header">
              <h4>Gold</h4>
              <p>$2,500</p>
            </header>
            <ul class="list-group">
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i> Company banner on Ventura Gate including “proud supporter of St. Cyril Parish and School” (March 14-June 17)</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i> Table at carnival to distribute information and speak with attendees about your business</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival sponsor banners hung on Ventura gate and at event</p>
                
              </li>    
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on 400 posters distributed to local Encino and Sherman Oaks businesses</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival website, carnival social media and on all parish/school carnival communications</p>
                
              </li>
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival t-shirt worn by students and parents</p>
                
              </li>
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Regular mention from carnival stage by emcee/DJ</p>
                
              </li>
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Two 3-day unlimited ride wristbands</p>
                
              </li>                              
            </ul>                
          </div>
          <div class="col-sm-3 danger-bg wow fadeInDown" data-wow-delay="1.2s">
            <header class="price-header">
              <h4>Silver</h4>
              <p>$750</p>
            </header>
            <ul class="list-group">
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on 400 posters distributed to local Encino and Sherman Oaks businesses</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival website, carnival social media and on all parish/school carnival communications</p>
                
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion on carnival t-shirt worn by students and parents</p>
                
              </li>                                 
            </ul>                
          </div>
          <div class="col-sm-3 warning-bg wow fadeInUp" data-wow-delay="1.6s">
            <header class="price-header">
              <h4>Bronze</h4>
              <p>$250</p>
            </header>
            <ul class="list-group">
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Ride Sponsorship</p>
              </li> 
              <li class="list-group-item">
                <p class="pull-left"><p class="pull-left"><i class="fa fa-check-square-o check-color fa-lg"></i>  Logo inclusion or picture on Carnival ride signage
                </p>
                
                <p class="pull-left">Ferris Wheel ~ Hurricane ~ Tilt-a-Whirl ~ Round Up ~ Hampton Cars ~ Merry-go-Round ~ Raiders ~ Kamikaze ~ Bumper Cars ~ Casino ~ Elephants ~ Hampton Cycles ~ Super Slide ~ Crazy Plane
                </p>
                
              </li>                               
            </ul>                
          </div>              
        </div>
      </div>
    </div>
    <!-- ///  end price  /// -->

    <!-- /// begin maui raffle ///-->
    <div class="maui">
      <div class="container">
        <div class="row">
         
          <div class="col-md-6 text-center wow fadeInUp" data-wow-delay="1.8s">
           <h1>The Maui Raffle</h1>
           <p><a href="http://www.hannonfoundation.org/" target="_blank">The William H. Hannon Foundation</a> has generously donated a trip to Maui that will be raffled off the night of May 14th at the Encino Spring Carnival.  More details and opportunities to buy raffle tickets to come.</p>
          </div>
                               
          <div class="col-md-6 text-center wow fadeInUp" data-wow-delay="1.8s">
            <h1>T-Shirt Design Contest</h1>
            <p>Students from the St. Cyril's School and the Parish CCD program will have the opportunity to design our Carnival T-Shirts.  Admissions are due by January 15, 2016.  The winner of the design contest will receive 2 3-Day Wristbands to our carnival. To enter the contest, download this <a href="/assets/tdf2016.pdf" target="_blank">Entry Form</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- /// end maui raffle ///-->

    <!-- ///  begin testimonials  /// -->
    <div class="testimonials wow flipInX" style="background-image: url(assets/bg/bg.jpg)">
      <div class="color-correction" ></div>
      <div class="container">
        <div class="row">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">  
            
            <div class="carousel-inner">
              <div class="item active">      
                <div class="carousel-caption">
                  <blockquote>                        
                    <p>I had no idea what to expect my first time to this Carnival.  </br>I quickly realized I should have bought wristbands because my kids wanted to ride the rides ALL DAY!</p>
                    <footer><cite title="Source Title">St. Cyril Parent</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="item">      
                <div class="carousel-caption">
                  <blockquote>                        
                    <p>My friends and I had so much fun at this Carnival.  </br>We can't wait for this year's event!</p>
                    <footer><cite title="Source Title">High School Student</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="item">      
                <div class="carousel-caption">
                  <blockquote>                        
                    <p>FREE Admission! Bar! Food! Bands! Oh MY!</p>
                    <footer><cite title="Source Title">Encino Resident</cite></footer>
                  </blockquote>
                </div>
              </div>                  
            </div>              
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>                            
          </div>
        </div>
      </div>
    </div>  
    <!-- ///  end testimonials  /// -->
    
    
    
    <!-- ///  begin faq  /// -->
    <div class="faq" id="faqSection">
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow fadeInLeft">
            <h1>FAQ</h1>
            <p class="lead">Everything you need to know...</p>
            <hr>
            <p>Most of all, come to have a great time!</p>
          </div>
          <div class="col-md-8 wow fadeInRight">
            <div class="panel-group" id="faq">
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq1">
                  Is there parking available?
                </a>
                <div id="faq1" class="panel-collapse collapse">
                  <p>Parking is available for free at the following locations...</p>
                </div>
              </div>
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq2">
                  Is there a charge for admission?
                </a>
                <div id="faq2" class="panel-collapse collapse">
                  <p>Admission is free of charge</p>
                </div>
              </div>
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq3">
                  Why should I buy my tickets before the event?
                </a>
                <div id="faq3" class="panel-collapse collapse">
                  <p>Buying your tickets before the event saves you money!</p>
                </div>
              </div>
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq4">
                  Will there be food at the Carnival?
                </a>
                <div id="faq4" class="panel-collapse collapse">
                  <p>We will have several food options throughout the weekend.</p>
                </div>
              </div>
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq5">
                  I would like to sponsor the event, how can I do that?
                </a>
                <div id="faq5" class="panel-collapse collapse">
                  <p>Thank you for your generosity, contact us at kim@encinospringcarnival.com.</p>
                </div>
              </div>
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq6">
                  Are pets allowed at the Carnival?
                </a>
                <div id="faq6" class="panel-collapse collapse">
                  <p>Please leave your furry friends home.</p>
                </div>
              </div>
              <div class="panel">
                <a data-toggle="collapse" data-parent="#faq" href="#faq7">
                  Are there rides for all ages?
                </a>
                <div id="faq7" class="panel-collapse collapse">
                  <p>There are rides available for children from age 2 to 102!</p>
                </div>
              </div>
              </div>        
            </div>                
          </div>
        </div>
      </div>
    </div>
    <!--///  end faq  /// -->

    <!-- ///  begin partners  /// -->
    <div class="partners wow fadeInUp">
      <div class="container">
        <div class="section-heading">
          <h1>Our Volunteers</h1>
          <p class="lead">The Carnival wouldn't be possible without our volunteers!  Thank you for sharing your time, talents and treasure with us!</p>
        </div>
        <div class="row text-center">
          <div class="col-lg-12">
            <ul class="list-inline">                  
              <li>Colleen & Kim - Co-Chairs<img src="assets/partners/colleen&kim.jpg" alt=""></li>

             
              
            </ul>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-lg-12">
            <ul class="list-inline">                  
              <li>Liz & Jen - PTO<img src="assets/partners/lizandjen.jpg" alt=""></li>           
            </ul>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-lg-12">
            <ul class="list-inline">                    
              <li>Jason<img src="assets/partners/jasonsands.jpg" alt=""></li>
              <li>Jay<img src="assets/partners/jay.jpg" alt=""></li>
              <li>Jaime<img src="assets/partners/jaime.jpg" alt=""></li>
              <li>Seth<img src="assets/partners/seth.jpg" alt=""></li>
              <li>Karen<img src="assets/partners/karen.jpg" alt=""></li>
              </ul>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-lg-12">
            <ul class="list-inline"> 

              <li>JiAe<img src="assets/partners/jiae.jpg" alt=""></li>
              <li>Molly<img src="assets/partners/molly.jpg" alt=""></li>
              <li>Sharon<img src="assets/partners/sharon.jpg" alt=""></li>
              <li>Jen<img src="assets/partners/jenterbush.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- ///  end partners  /// -->

      
    <!-- ///  begin map, subscribe, contacts  /// -->
    <!-- ///  set your venue address in data-location attribute  ///  -->
 <!--   <div class="map" id="ourLocation" data-location="15520 Ventura Blvd, Encino, CA 91436">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 map-container" id="map">                
          </div>
        </div>
      </div>
      <div class="location wow flipInY">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="popover bottom">
                <div class="arrow"></div>
                <h2 class="popover-title">Location</h2>
                <div class="popover-content">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="street-view" id="streetView"></div>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker info-color"></i> 15520 Ventura Blvd, Encino, CA 91436</li>
                        <li><i class="fa fa-envelope info-color"></i> info@encinospringcarnival.com</li>
                        <li><i class="fa fa-phone info-color"></i> +1(818)501-4155</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- ///  end map, subscribe, contacts  /// -->
    <!-- ///  end content  /// -->
    
    <!-- ///  begin footer  /// -->
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
              <span>info@encinospringcarnival.com</span>
          </div>
          <div class="col-sm-12 text-center">
              <span>15520 Ventura Blvd, Encino, CA 91436</span>
          </div>
          <div class="col-sm-12 social text-center">
            
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/EncinoCarnival" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/encinospringcarnival" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com/encinospringcarnival" target="_blank"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
            <span>Copyright 2015-2016 St. Cyril's</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- ///  end footer  /// -->

    <!-- ///  start script  /// -->
    <!-- ///  libs  /// -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>        
    <script src="assets/libs/modernizr-latest.js"></script>        
    <script src="assets/libs/jquery-1.11.0.min.js"></script>     
    <script src="assets/bootstrap.min.js"></script>   
    <!-- ///  plugins  /// -->
    <script src="assets/plugins/fitvids/jquery.fitvids.js"></script>
    <script src="assets/plugins/select/bootstrap-select.min.js"></script>
    <script src="assets/plugins/gmap3/gmap3.min.js"></script>
    <script src="assets/plugins/scrollTo/jquery.scrollTo.js"></script>
    <script src="assets/plugins/nav/jquery.nav.js"></script>
    <!--<script src="assets/plugins/countdown/TimeCircles.js"></script>-->
    <script src="assets/plugins/placeholder/jquery.placeholder.js"></script>
    <script src="assets/plugins/validator/jquery.form-validator.min.js"></script>
    <script src="assets/plugins/wow/wow.min.js"></script>        
    <script src="assets/main.js"></script>       
  </body>
</html>
